{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<!-- CONTENT START -->
<div class="page-content">

  <!-- INNER PAGE BANNER START -->
  <div class="wt-bnr-inr overlay-wraper" style="background-image:url({% static 'images/banner/blog-banner.jpg' %});">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white">Beginner Guide</h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW START -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
        <li>Beginner Guide</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB ROW END -->

  <!-- SECTION CONTENT START -->
  <div class="section-full p-t80 p-b50">
    <div class="container">
      <div class="row">

        <!-- SIDE BAR START -->
        <div class="col-md-3">

          <aside class="side-bar">

            <!-- 2. Brokers -->
            <div class="widget bg-white  recent-posts-entry">
              <h4 class="widget-title">Brokers</h4>
              <div class="section-content">
                <div class="wt-tabs tabs-default border">

                  <div id="web-design-1" class="tab-pane active ">
                    <div class="widget-post-bx">
                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic1.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Lorem ipsum dolor sit amet</h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 20comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic2.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Debitis nihil placeat, illum est </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 15 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </aside>

        </div>
        <!-- SIDE BAR END -->

        <!-- RIGHT PART START -->
        <div class="col-md-9">


          <!-- BLOG START -->
          <div class="blog-post date-style-1 blog-detail">

            <div class="wt-post-title ">
              <h3 class="post-title"><a href="javascript:void(0);">FOREX TRAINING</a></h3>
            </div>

            <div class="wt-post-text">

              <p>Facilitator: Reabetsoe Nkopane (Ria) Instagram: tforex_n
              </p>


              <p>Forex stands for Foreign Exchange, which is exchanging one currency for another.</p>

              <p>You sell one currency and buy another currency simultaneously and once you do so you have essentially involved yourself in the forex market
              </p>
              <p>e.g. USD/ZAR – When you go to USA you have to exchange/SELL the ZAR and BUY the USD in order for you to make transactions in USA.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/11.jpeg' %}" alt="" class="text-center">
              </div>
              <br>

              <p>The market is open 24-hours a day, 5 days a week and has different sessions depending on what time it is.
              </p>


              <p>Forex is the most liquid financial market with a daily turnover of more than $5 trillion.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/3.jpeg' %}" alt="" class="text-center">
              </div>
              <br>


              <p>Currencies are always quoted in pairs, such as USD/ZAR, where you buy one currency and sell another simultaneously.

                e.g.
                USD/ZAR = 13.3979

                USD: Base Currency ZAR: Quote Currency



                Base Currency: The base currency is the “basis” for the buy or the sell.

                e.g.
                If you buy USD/ZAR this simply means that you are buying the base currency and simultaneously selling the quote currency.
              </p>
              <p>
                Quote Currency: The quote currency is the second currency in any
                currency pair

                Long/Bullish: In trader's talk going long/Bullish means BUY

                Short/Bearish: In trader's talk going Short/Bearish means SELL
              </p>
              <p>

                Pip: Percentage In point – A pip is the smallest price movement available in a currency.

                The 4th decimal number e.g. USD/ZAR = 13.3979
                If USD/ZAR moves from 13.3979 to 13.3980 = 1 pip (Helps you measure profit or loss).

                Instances where you have USD/JPY = 100.509 use 3rd decimal number as your pip

                Lot Size: Value used to determine profit or loss. Standard Lot size : 1.00 = $10 per pip
                Mini Lot size : 0.10 = $1 per pip Micro Lot Size : 0.01 = 10 cent per pip



                Market Order: A market order is an order to buy or sell at the current market price.

                BUY: USD/ZAR Current Market price = 13.3979

                Take Profit: A level where you decide to exit a trade with profit

                Stop Loss: A level where you decide to exit a trade with a loss</p>



              <p>Fundamental analysis: Fundamental analysis is a way of looking at the market through economic, social and political forces that affect supply and demand.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/1.jpeg' %}" alt="" class="text-center">
              </div>
              <br>




              <h6>Types of Trading Cont.</h6>
              <p>Technical Analysis: Technical analysis is the study of price movement. In one word, technical analysis = charts
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/2.jpeg' %}" alt="" class="text-center">
              </div>
              <br>

              <h6>PRICE ACTION</h6>

              <h6> What is Price Action?</h6>
              <p>Price action is a trading technique that allows the trader to analyse the market and make subjective trading decisions based on past and present price movements.
              </p>
              <p>
                Price action trading uses tools like chart patterns, candlestick patterns, trendlines, support & resistance and many more.
              </p>









              <h6>PRICE AND CHARTS</h6>




              <h6>Bar Chart</h6>
              <p>ows opening price, while simultaneously showing the closing price, as well as the highs and lows.</p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/5.jpeg' %}" alt="" class="text-center">
              </div>
              <br>



              <h6>Candlestick Chart</h6>
              <p>Also shows opening price, while simultaneously showing the closing price, as well as the highs and lows.</p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/4.jpeg' %}" alt="" class="text-center">
              </div>
              <br>



              <h6>Line Chart</h6>
              <p> A simple chart that draws a line from one closing price to the next closing price.

              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/8.jpeg' %}" alt="" class="text-center">
              </div>
              <br>


              <p>
                A Bullish candlestick simply means the price opened lower and closed up higher after a certain time period.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/6.jpeg' %}" alt="" class="text-center">
              </div>
              <br>

              <h6>Bullish Candlestick (BUY)</h6>


              <div class="text-center">
                <img src="{% static 'images/doc-images/7.jpeg' %}" alt="" class="text-center">
              </div>
              <br>

              <h6>Bearish Candlestick (SELL)</h6>
              <p>

                A bearish candlestick simply means that the candlestick opened up at a high price and closed lower after a certain time period.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/10.jpeg' %}" alt="" class="text-center">
              </div>
              <br>

              <h6>Bearish Candlestick (SELL)</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/9.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>
                • Understanding buying and selling pressure on candlesticks.

                • Every candlestick that forms tells you a story about the battle between the Buyers (Bulls) and Sellers (Bears), who dominated the battle, who is weakening and who finally won.

              </p>

              <p> • The first green candlestick on the left tells you that sellers(bears) were dominant.

                • The second green candlestick tells you the buyers(bulls) were dominant.



              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/12.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>• The first red candlestick on the left tells you that sellers(bears) were dominant.

                • The second red candlestick tells you the buyers(bulls) were dominant.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/14.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />



              <p>The longer the body of the candlestick the stronger the buying or the selling pressure.</p>


              <div class="text-center">
                <img src="{% static 'images/doc-images/13.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />


              <p>So far we have been looking at individual candlesticks, what if we combine more than one candlestick? What does that show us?

                • A group of candlesticks can show you how strong or weak a bullish or bearish move is.

                • They can also show us if a bullish or bearish move is weakening.

                • The word used to describe such a situation is momentum.</p>


              <p>• 3 Bearish candlesticks in a downtrend, each with a decreasing body length.

                • This is a signal that the
                downtrend is weakening

                • Around support level be on the lookout for a bullish reversal candlestick.


              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/16.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <h6>Buying & Selling Pressure</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/15.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>

                • 3 Bullish candlesticks in an uptrend, each with a decreasing body length.

                • This is a signal that the
                uptrend is weakening

                • Around resistance level be on the lookout for a bearish reversal candlestick.


              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/19.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <h6>Buying & Selling Pressure</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/17.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>






                • A wick is a long tail outside the body of the candlestick.

                • A long wick on the bottom part of the candlestick tells us that the market made a significant fall then quickly retreated and rose from this price level. This is often seen as a bullish signal.

                • Long lower wicks occur when the downtrend is losing steam.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/18.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />


              <p> • A long wick on the top part of the candlestick tells us that the market made a significant rise then quickly retreated and fell from this price level. This is often seen as a bearish signal.

                • Long upper wicks commonly occur when an uptrend is losing strength.</p>



              <div class="text-center">
                <img src="{% static 'images/doc-images/21.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />






              <h6>TRENDS</h6>
              <p>


                • A Trend is when price is either moving up, down or sideways.

                • So when price is moving up, it’s called an uptrend.

                • When price is moving down, it’s called a downtrend.

                • When price is moving sideways, it’s called a sideway trend/Consolidation/Lamb/Ranging.


                • With an uptrend market, prices will be making increasing higher highs(HH) and higher lows(HL).

              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/22.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>



                • With a downtrend market, prices will be making decreasing lower highs(LH) and lower lows(LL).


              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/34.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />


              <h6>Trends</h6>
              <div class="text-center">
                <img src="{% static 'images/doc-images/85.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>






                • With a Sideways/Ranging market, price moves between the support and resistance.</p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/33.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />



              <h6>Trends</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/79.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />






              <h6>REVERSALS & CONTINUATION</h6>


              <p>• Continuation is a term used to describe when a trend continues in the direction, but slows down or even pulls back a bit before continuing .

                e.g.
                • From a downtrend to a Sideway trend and back to a downtrend
                again.

                • From a downtrend to a temporary uptrend and back to a
                downtrend again.</p>




              <div class="text-center">
                <img src="{% static 'images/doc-images/37.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />




              <p>• Continuation is a term used to describe when a trend continues in the direction, but slows down or even pulls back a bit before continuing .

                e.g.
                • From a downtrend to a Sideway trend and back to a downtrend
                again.

                • From a downtrend to a temporary uptrend and back to a
                downtrend again.</p>






              <div class="text-center">
                <img src="{% static 'images/doc-images/40.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />



              <h6>MARKET SWINGS</h6>
              <p>



                • The market price moves in swings.

                • A market/price swing is when the market moves like a wave.

                e.g.
                • In an uptrend, price will be making higher highs and higher lows.
                • In a downtrend, price will be making higher lows and lower lows.

                • Uptrend Downtrend

              <div class="text-center">
                <img src="{% static 'images/doc-images/38.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <div class="text-center">
                <img src="{% static 'images/doc-images/39.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              • Real Example: Uptrend

              <div class="text-center">
                <img src="{% static 'images/doc-images/41.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              • Real Example: Downtrend


              <div class="text-center">
                <img src="{% static 'images/doc-images/43.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />


              <p>




                • Trading opportunities using market swings
                • Uptrend – Buy on the downswing.
                • Downtrend – Sell on an upswing.

              </p>
              <div class="text-center">
                <img src="{% static 'images/doc-images/42.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>

                • Ideal Buy and Sell entry locations.</p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/78.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <h6>SUPPORT & RESISTANCE</h6>

              <p>



                • Support: Lowest point the price reaches before reversing.
                • Resistance: Highest point the price reaches before reversing.

                e.g.
                • Look at support as the floor in your house.
                • Look at resistance as the ceiling in your house.



                • We call these support and resistance area’s by one word— zones.

                • Important characteristics of zones are as follows:
                • Zones are an area, not a price point.
                • Zones are like fine wine; they get better with age.
                • Zones are spots on the chart where price reverses, repeatedly.
                • Zones may be extreme highs or lows on the chart.
                • Zones are where naked traders find trading opportunities.
                • Support and resistance zones rarely need to be modified.
                • Line charts help naked traders find zones.



                • Zones are spots on the chart where price reverses, repeatedly.

              </p>
              <div class="text-center">
                <img src="{% static 'images/doc-images/44.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />
              <p>


                • Broken support turns into resistance and broken resistance turns into support.
              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/45.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <h6>Support & Resistance</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/46.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />




              <h6>Resistance</h6>










              <h6>Support</h6>










              <p>
                • How to find zones:
                • Start with a higher timeframe chart (4 Hour and Daily).
                • Use a line chart to find the zones on the chart.
                • Ignore minor Support and Resistance zones.</p>


              <div class="text-center">
                <img src="{% static 'images/doc-images/48.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <div class="text-center">
                <img src="{% static 'images/doc-images/47.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <h6>CHANNELS</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/50.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <div class="text-center">
                <img src="{% static 'images/doc-images/49.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />




              <p> • A Channel is the path price follows and the area enclosed within it is called the price channel.

                • 3 major channel types:
                • Uptrend channel
                • Downtrend channel
                • Sideways channel</p>










              <h6>CHART PATTERNS</h6>




              <p>• Symmetrical Triangle
                • 3 types of triangles:</p>




              <p>• A Symmetrical triangle is a continuation pattern.
                • In an uptrend, expect a breakout to the upside.
                • In a downtrend, expect a breakout to the downside.</p>




              <h6>Downtrend</h6>

              <div class="text-center">
                <img src="{% static 'images/doc-images/53.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />

              <p>




                • An ascending triangle is a bullish continuation pattern.
                • So when you see this pattern forming in an uptrend, then expect a breakout to the upside

                • However, it can also be a strong reversal signal (bullish) when you see it form in a downtrend.










                • A descending triangle is a bearish continuation pattern.
                • So when you see this pattern forming in a downtrend, then expect a breakout to the downside.




              </p>

              <div class="text-center">
                <img src="{% static 'images/doc-images/63.jpeg' %}" alt="" class="text-center" />
              </div>
              <br />
              <p>





                • A head & shoulders is a bearish reversal chart pattern.





                • An inverse head & shoulders is a bullish reversal chart pattern.




                • A double bottom is a bullish reversal chart pattern.






                • A double top is a bearish reversal chart pattern.






                • Sometimes price might retest the neckline before continuing with the trend.




                • A triple bottom is also a bullish reversal chart pattern.</p>






              <h6>Triple Top</h6>
              <p>• A triple top is also a bearish reversal chart pattern.

              </p>








              <h6>CANDLESTICK PATTERNS</h6>




              <h6>Candlestick Patterns</h6>
              <p>• 11 important candlestick patterns:
                • Doji
                • Engulfing
                • Harami
                • Dark Cloud Cover
                • Piercing
                • Shooting Star
                • Inverted Hammer
                • Hammer
                • Hanging Man
                • Railway track
                • Spinning Top

                • These candles are great entry signals when they form around Support or Resistance levels.
              </p>


              <h6>Doji</h6>
              <p>• A doji candlestick occurs when the open and closing price are equal.

                • 4 Types of Doji candlesticks:
                a) Bullish or Bearish signal
                b) Bearish reversal
                c) Bullish reversal
                d) Bullish or Bearish depending on where it forms (Support/Resistance)</p>



              <h6>Engulfing</h6>
              <p>• Engulfing happens when the 2nd candle covers the entire body of the 1st candle.

                a) Bullish: When formed in a support level it can signal potential downtrend ending.

                b) Bearish: When formed in a resistance level, it can signal potential uptrend ending.</p>



              <h6>Harami</h6>
              <p> • Harami happens when the 1st candle covers the entire body of the 2nd candle.

                a) Bullish: When formed in a support level it can signal potential downtrend ending.

                b) Bearish: When formed in a resistance level, it can signal potential uptrend ending.

              </p>

              <h6>Dark Cloud Cover</h6>
              <p>• A Dark Cloud is a bearish reversal candlestick pattern consisting of 2 candlesticks.

                • The 1st candle is bullish showing
                strong uptrend momentum

                • 2nd candle is bearish and closes at about midway of the 1st candle.

                • When formed around resistance it’s a signal to SELL.</p>



              <h6>Piercing</h6>
              <p>• A Piercing is a bullish reversal candlestick pattern consisting of 2 candlesticks.

                • The 1st candle is bearish showing strong downtrend momentum

                • 2nd candle is bullish and closes up the midway of the 1st candle.

                • When formed around support it’s a signal to BUY.</p>



              <h6>Shooting Star</h6>
              <p>• Shooting star is a single candlestick and is a bearish reversal when formed around resistance level.
              </p>





              <h6>Inverted Hammer</h6>
              <p>• An Inverted Hammer is a single candlestick and is a bullish reversal when formed around support level.
              </p>





              <h6>Hammer</h6>
              <p>• A Hammer is a single candlestick and is a bullish reversal when formed around support level.
              </p>





              <h6>Hanging Man</h6>
              <p> • A Hanging Man is a single candlestick and is a bearish reversal when formed around resistance level.</p>






              <p>• A Railway Track is a candlestick pattern consisting of 2 parallel candlesticks.

                • Bearish: The 1st candlestick is bullish followed by a bearish candlestick of the same length & body.

                • When formed around resistance it’s a signal to SELL.



                • A Railway Track is a candlestick pattern consisting of 2 parallel candlesticks.

                • Bullish: The 1st candlestick is bearish followed by a bullish candlestick of the same length & body.

                • When formed around support it’s a signal to BUY.



                • A Spinning Top is a single candlestick and can be a continuation or reversal pattern.

                • A spinning top has a small body and long shadows on both sides that exceed the length
                of the body.



                • When formed around a resistance in an uptrend it’s a signal to SELL.

                • When formed around a support in a downtrend it’s a signal to BUY.</p>










              <h6>TRENDLINES</h6>




              <p>• Trendlines are lines that are drawn to connect the peaks that are formed by the up swings or the troughs that are formed by the down swings to help you identify where the trend is going.

                • You need a minimum of 2 peaks to draw a downtrend trend line.
                • You need a minimum of 2 troughs to draw an uptrend trend line.</p>



              <h6>• Downward Trend line:</h6>





              <h6>• Upward Trend line:</h6>





              <p>• What does it means when the trend line is intersected?

                • This could mean that the trend has now changed.
                • e.g. From Uptrend to Downtrend.

                • This could mean that it is only a false breakout and price will soon head back in the original direction.</p>










              <h6> FUNDAMENTALS</h6>

              <p>Download App: Investing.com</p>



              <p>• Fundamentals that affect US Dollar:

                • Non-Farm Payroll (NFP) - Number of paid part-time or full time
                jobs in the public sector, excluding the farming sector.
                • 1st Friday of each month.

                • High Employment figure = Positive for USD Buy/Bullish.
                • Low Employment Figure = Negative for USD Sell/Bearish.</p>



              <p>• Fundamentals that affect US Dollar:

                • Unemployment Rate –The percentage of the total work force
                that is unemployed and actively seeking employment.
                • 1st Friday of each month.

                • Low Unemployment Figure = Positive for USD Buy/Bullish.
                • High Unemployment figure = Negative for USD Sell/Bearish.</p>



              <p>• Fundamentals that affect US Dollar:

                • Interest Rate – When the Federal Open Market Committee
                (FOMC) members vote on where to set the rate.
                • Every 2 months.

                • High Interest Rate = Positive for USD Buy/Bullish.
                • Low/Unchanged Interest Rate = Negative for USD Sell/Bearish (Only trade gold).</p>



              <p>• Fundamentals that affect GB Pound:

                • Interest Rate – Bank of England (BOE) monetary policy
                committee members vote on where to set the rate.
                • Every 2 months.

                • High Interest Rate = Positive for GBP Buy/Bullish.
                • Low Interest Rate = Negative for GBP Sell/Bearish.</p>



              <p>• Fundamentals that affect GB Pound:

                • Construction Purchasing Management Index (PMI) – Measures the activity level of purchasing managers in the construction industry.
                • Every month.

                • Positive PMI (Above 50%) = Positive for GBP Buy/Bullish
                • Negative PMI (Below 50%) = Negative for GBP Sell/Bearish</p>



              <p>• Fundamentals that affect GB Pound:

                • Gross Domestic Product (GDP) – Measure the value of all
                finished goods and services produced by the economy.
                • Every 3 months.

                • Positive GDP = Positive for GBP Buy/Bullish.
                • Negative GDP = Negative for GBP Sell/Bearish.</p>



              <p>• Fundamentals that affect GB Pound:

                • Manufacturing Purchasing Manager’s Index (PMI) – Measures the activity level of purchasing managers in the manufacturing industry.
                • Every month.

                • Positive PMI (Above 50%) = Positive for GBP Buy/Bullish.
                • Negative PMI (Below 50%) = Negative for GBP Sell/Bearish.</p>



              <h6>Fundamentals (EUR)</h6>
              <p>• Fundamentals that affect EUR:

                • Queens Speech – Positive for EUR Buy.

                • Interest Rate – ECB Announcement.
                • Every 2 months.

                • High Interest Rate = Positive for EUR Buy/Bullish.
                • Low Interest Rate = Negative for EUR Sell/Bearish.</p>










              <h6>TRADING PLAN</h6>




              <p>• Choose pairs to trade:
                • USD/ZAR XAU/USD (Gold)
                • GBP/JPY EUR/USD
                • USD/JPY

                • When to trade your chosen pairs:
                • Proper Setup on H4 (4 Hours) /D1 (Daily)
                • Double Top/Head & Shoulders at major resistance.
                • Double Bottom/Inverse Head & Shoulders at major support.</p>



              <p>• Where to place stop loss:
                • 1 – 2% of account.
                • Above the highest wick from previous chart movement.

                • Risk Management:
                • $100 – 0.01.
                • $500 – 0.05.
                • $1000 – 0.10.

                • When to exit trade:
                • At Major Support/Resistance.
              </p>


              <p> What to ask yourself before placing a trade:
                • Where is the current price?
                • Are there any news that can affect my trade?
                • Where is my Support/Resistance?
                • Where is the trend going?</p>



              <p>• What to do when scalping:
                • Identify Support and Resistance zones on H4 or Daily timeframe.
                • Identify direction of trend on H4 or Daily timeframe.
                • Move to smaller timeframes H1, 30m, 15m.
                • ONLY trade in the direction of identified trend.</p>










              THANKS


            </div>

          </div>

        </div>
        <!-- RIGHT PART END -->

      </div>
    </div>
  </div>
  <!-- SECTION CONTENT END -->

</div>
<!-- CONTENT END -->

{% endblock %}
