{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<!-- CONTENT START -->
<div class="page-content">

  <!-- INNER PAGE BANNER START -->
  <div class="wt-bnr-inr overlay-wraper" style="background-image:url({% static 'images/banner/blog-banner.jpg' %});">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white">About Deriv</h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW START -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
        <li>Deriv</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB ROW END -->

  <!-- SECTION CONTENT START -->
  <div class="section-full p-t80 p-b50">
    <div class="container">
      <div class="row">

        <!-- SIDE BAR START -->
        <div class="col-md-3">

          <aside class="side-bar">

            <!-- 2. Brokers -->
            <div class="widget bg-white  recent-posts-entry">
              <h4 class="widget-title">Brokers</h4>
              <div class="section-content">
                <div class="wt-tabs tabs-default border">

                  <div id="web-design-1" class="tab-pane active ">
                    <div class="widget-post-bx">
                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic1.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Lorem ipsum dolor sit amet</h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 20comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic2.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Debitis nihil placeat, illum est </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 15 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </aside>

        </div>
        <!-- SIDE BAR END -->

        <!-- RIGHT PART START -->
        <div class="col-md-9">


          <!-- BLOG START -->
          <div class="blog-post date-style-1 blog-detail">

            <div class="wt-post-title ">
              <h3 class="post-title"><a href="javascript:void(0);">About Deriv </a></h3>
            </div>

            <div class="wt-post-text">
              <p>

              <p>Deriv.com is a forex broker platform developed and backed by Binary.com. Offering CFDs, binary options and forex, the new platform delivers trading via a web-based platform (DTrader), an MT5 platform (DMT5) and an automated trading
                system called DBot. Our review covers the trading platform, minimum deposit, asset lists and more…</p>

              <h6>Company Overview</h6>
              <p>After 20 years of serving retail clients, Binary.com has undergone a rebrand to the new and improved Deriv. The platform offers an expanded product range, an enhanced user experience, plus a shiny new logo.

                In a gradual transition, Binary.com’s over one million customers, responsible for 43 million trades each month and $6 million in monthly withdrawals, will migrate to Deriv.com</p>

              <h6>Can You Still Trade On Binary.com?</h6>
              <p>
                Yes – during the transition you will be able to trade on Binary.com. But as Binary.com will be slowly phased out, traders may benefit from moving over to Deriv.com sooner rather than later.

                The development team has made the process as smooth as possible. Binary.com accounts are essentially replicated in Deriv.com. So, enter your Binary.com login details into Deriv and you’ll see your funds, custom account settings and
                trading features are all available.
              </p>

              <h6>Trading Platform</h6>
              Three trading platforms are available at Deriv.com along with Binary.com’s SmartTrader system.

              <h6>DMT5</h6>
              <p>
                Integrating MT5 and the related analysis and research tools, the platform is easy to use but feature-rich. It presents a great combination for traders at all levels. It is fully configurable, meaning traders can set up charts or trade
                areas as they wish. Multiple trade windows can be open at once, or specific windows can be detached and moved around as required.

                Asset lists are easy to find and navigate – The platform boasts over 70 assets and this list is growing all the time as the brand is expanded. Flexible leverage up to 1:1,000 is also available. Additionally, a range of trade sizes are
                available, from micro-lots up to 30 standard lots.
              </p>


              <h6>DTrader</h6>
              <p>
                The customisable DTrader platform offers a clean interface and 50+ tradable assets. Charts can be tailored to meet trader needs with technical indicators and widgets. Trade types can also be customised, with position sizes of just
                $0.35 and flexible trade duration between one second and 365 days available.

                Potential payouts also exceed 200%. The DTrader platform is an excellent evolution in trading platforms, promising an optimal user experience.

              </p>

              <h6>DBot</h6>
              <p>
                This review was impressed with Deriv.com’s automated trading offering. The DBot platform offers a straightforward path to getting set-up using algorithmic investing. Trading bots are free to develop, can be built in five steps, and
                can be used on over 50 assets.

                There are also three pre-built strategies that traders can use as they find their feet. A useful additional feature is the performance tracker so you can make tweaks to maximise returns.

              </p>


              <h6>Assets & Markets</h6>
              <p>Over 100 products are available at Deriv.com spanning:

                Forex – Close to 50 FX currency pairs, including majors, minors and exotics
                Stock indices – Speculate on price movements across the largest US, Asian and European stock indices
                Synthetic indices – Based on a secure random generator, synthetic indices replicate real-world market conditions and are available 24/7 delivering consistent volatility.

                Commodities – Precious metals, such as gold and silver, plus energies like oil are available</p>

              <h6>Cryptocurrencies</h6>

              <p>Options and multipliers are available at Deriv.com. Options allow traders to profit from correctly predicting price movements without owning the underlying asset. For example, the Rise/Fall option will you see profit if you can
                predict whether the exit point will be above or below the entry. Over a dozen different options and payouts are available.

                Multipliers let users trade on leverage to increase positions, often taking several positions to enhance potential returns. Traders also cannot lose more than their initial deposit, limiting potential risk. Multipliers are similar to
                margin trading.</p>

              <h6>Spreads & Commissions</h6>
              <p>
                Deriv.com promises tight spreads and minimal trading fees. As the company is still rolling out their new system, average spreads and commission data is limited. However, Binary.com had a strong reputation for competitive spreads and a
                transparent fee structure.

                Note, a dormant fee may be charged to accounts inactive for a period of 12 months.
              </p>

              <h6>Leverage</h6>

              <p>
                Deriv offers flexible leverage up to 1:1,000. This allows users to take larger position sizes by putting down a small deposit, known as margin, to increase potential returns. Margin requirements and leverage levels vary depending on
                the account and jurisdiction you register an account from. In the EU, for example, regulations limit the leverage retail traders can use on FX major currency pairs to 1:30.
              </p>

              <h6>
                Mobile App
              </h6>

              <p>There is not currently a mobile trading option for Deriv.com traders. However, this is likely to be in part due to the brand and platform refresh. Once this process is complete, we expect the broker will make their platforms
                available
                through iOS and Android apps.</p>

              <h6>Deriv.com Payment Methods</h6>

              <p>This review was particularly impressed with the breadth of deposit and withdrawal options available.</p>

              <h6>Deposits</h6>

              <p>Deposit payment options include:

                Bank wire transfer – Minimum deposits start at just $5 with most deposits processed instantly.
                Credit/debit cards – Both Visa and Mastercard can be used with minimum deposits starting at 10 USD/GBP/EUR/AUD. Deposits made via credit and debit cards are processed instantly.
                E-wallets – Skrill, Neteller, PaySafe, Fasapay, and WebMoney are all available, amongst others. Minimum deposits start at 5 of your base currency and are processed instantly.
                Cryptocurrency – You can deposit funds into your deriv.com account using Bitcoin, Ethereum, Litecoin and Tether. There is no minimum deposit when using cryptocurrencies, with payments processed in three blockchain confirmations.
                Deriv.com does not charge fees for making deposits.</p>

              <h6>Withdrawals</h6>
              <p>

                You can withdraw funds from your Deriv.com account using all of the deposit payment options.

                Depending on the provider, bank withdrawals start at 5 of your base currency and are processed in 1-2 working days. The minimum withdrawal via debit/credit cards is 10 of your base currency and is processed in one working day. Note,
                MasterCard and Maestro are only available to UK traders.

                To withdraw funds using an e-wallet, you’ll need to withdraw at least 5 of your base currency which will be processed within one working day. Finally, when withdrawing using cryptocurrencies, Bitcoin offers the lowest minimum
                withdrawal of 0.0026 while crypto withdrawal times are one working day plus three blockchain confirmations.

                As with deposits, Deriv.com customers aren’t charged any fees to withdraw profits. This makes Deriv one of the most accessible and cost-effective brokers to make deposits to and withdrawals from.

              </p>

              <h6>Demo Account</h6>
              <p>
                A demo account is available at Deriv. This is a mirror image of the real-time ‘live’ trading area, so traders can get a good feel for the live platform. The practice account can be used for backtesting strategies, or for learning to
                trade. The demo account is not time-limited, comes with an uncapped bankroll and is available on all Deriv.com platforms.

              </p>

              <h6>Bonuses & Promotions</h6>

              <p>

                This review was slightly disappointed by the lack of welcome bonuses and promotion codes available. However, with the broker promising such low minimum deposits and competitive fees, it’s perhaps unsurprising. Also, 2018 EU regulation
                restricts the bonuses Deriv.com can offer to traders from Europe.

                Still, it’s worth keeping an eye on the Deriv website for news of any sign-up offers and bonuses for existing customers.
              </p>

              <h6>Regulation & Licensing</h6>
              <p>This review is satisfied Deriv.com is a trustworthy broker that’s regulated in multiple jurisdictions. In the EU, Deriv is regulated by the Malta Financial Services Authority (FSA).

                For traders outside of the EU, the broker is licensed with the Vanuatu Financial Services Commission (FSC) and the British Virgin Islands Financial Services Commission (FSA). In addition, Deriv.com is regulated by Malaysia’s Labuan
                Financial Services Authority (FSA).

                In line with licensing conditions, customers benefit from negative balance protection, so users can’t lose more than their deposit. Also, financial services compensation schemes are in place to make customers whole should the broker
                go under. Note, the amount covered under financial services compensation schemes varies between regulators and jurisdictions.</p>

              <h6>Additional Features</h6>
              <p>Deriv.com doesn’t offer the plethora of educational resources found at many online brokers. This is somewhat of a shame, as strategy tips and market commentary can be useful, particularly for beginners. With that said, we do expect
                Deriv.com to bolster their additional resources as they complete the rollout of their new trading system.</p>

              <h6>Account Types</h6>
              Deriv offer 3 types of account:

              Standard
              MT5(DMT5)
              Synthetic Indices
              Each account offers differing types of trading, from binaries to CFDs via MT5. Account types will be made available based on the GEO location of the trader. EU traders, for example, will have different account options to visitors from
              South Africa or Singapore. This is due to EU (ESMA) regulation and Deriv licensing.

              <h6>Benefits</h6>
              There are several advantages to trading with Deriv.com:

              100+ assets
              Live 24/7
              Multipliers to increase potential profits
              Choice of three different trading platforms
              Range of deposit and withdrawal methods with zero payment fees

              <h6>Drawbacks</h6>
              Downsides to opening an account with Deriv include:

              Limited sign-up bonuses and on-going promotions
              No social and copy trading

              <h6>Trading Hours</h6>
              Trading at Deriv.com is available 24/7, following respective market operating hours. With that said, weekend trading usually sees a reduction in volume, resulting in less competitive spreads.

              <h6>Customer Support</h6>
              Customer support is available 24/7 through:

              Help Centre – The self-service portal can assist with a range of queries, from account questions to platform issues.
              Live Chat – Live chat support is now available direct from the website.
              The only notable absence when it comes to customer support is a live chat channel. Online chat can be a fast and helpful avenue for support.

              <h6>Security</h6>
              Deriv uses SSL website encryption to secure sensitive client data. Their security protocols are in line with the industry, so users can trust the broker to handle their personal information with care.

              <h6>Deriv.com Verdict</h6>
              Deriv.com is the latest evolution of the hugely popular Binary.com. Traders can choose between several platforms to suit individual trading styles and objectives. It’s quick and easy to deposit funds and withdraw profits. Plus, users
              benefit from signing up with a reputable company licensed in multiple jurisdictions.

              The products offered on the Deriv.com website include binary options, contracts for difference (“CFDs”) and other complex derivatives. Trading binary options may not be suitable for everyone. Trading CFDs carries a high level of risk
              since leverage can work both to your advantage and disadvantage. As a result, the products offered on the website may not be suitable for all investors because of the risk of losing all of your invested capital. You should never
              invest money that you cannot afford to lose, and never trade with borrowed money. Before trading in the complex products offered, please be sure to understand the risks involved.

              <h6>Accepted Countries</h6>
              Deriv.com accepts traders from Australia, Thailand, United Kingdom, South Africa, Singapore, India, Germany, Norway, Sweden, Italy, Denmark, Saudi Arabia, Kuwait, Luxembourg, Qatar and most other countries.

              Traders can not use Deriv.com from United States, Canada, Hong Kong, Israel, France, Jersey, Malaysia, Malta, Paraguay, United Arab Emirates.

              <h6>FAQ</h6>
              What is the difference between Deriv.com and Binary.com?
              Deriv.com is the latest evolution and refresh of the Binary.com brand. Gradually, Binary.com will be phased out and replaced by Deriv.com.

              Binary.com traders will be able to access their accounts and funds on the Deriv.com platform using their original login credentials.

              <h6>How do I open an account at Deriv.com?</h6>
              Registering for an account with Deriv.com is straightforward. Select the red ‘create new account’ box in the top right-hand corner of the broker’s website, then follow the on-screen instructions.

              <h6>Does Deriv.com offer a demo account?</h6>
              Yes – a demo account is available at Deriv.com. The practice account comes with unlimited funds and no expiry time. Credit card information isn’t needed to open a demo account, just an email address. The Deriv demo account is an
              excellent way to test the platform and strategies before opening a live trading account.

              <h6>What is a DBot?</h6>
              A DBot is the short-hand name for a Deriv Bot, the automated trading system offered by Deriv.com. The DBot platform offers pre-built trading algorithms plus a straightforward guide to building your own bot.

              <h6>How is my money protected at Deriv.com?</h6>
              Client funds are kept separate from the broker’s own capital. So in the event of insolvency, user funds are protected and will be returned.

            </div>

          </div>

        </div>
        <!-- RIGHT PART END -->

      </div>
    </div>
  </div>
  <!-- SECTION CONTENT END -->

</div>
<!-- CONTENT END -->

{% endblock %}
