{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<!-- CONTENT START -->
<div class="page-content">

  <!-- INNER PAGE BANNER START -->
  <div class="wt-bnr-inr overlay-wraper" style="background-image:url({% static 'images/banner/blog-banner.jpg' %});">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white">About XM</h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW START -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
        <li>XM</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB ROW END -->

  <!-- SECTION CONTENT START -->
  <div class="section-full p-t80 p-b50">
    <div class="container">
      <div class="row">

        <!-- SIDE BAR START -->
        <div class="col-md-3">

          <aside class="side-bar">

            <!-- 2. Brokers -->
            <div class="widget bg-white  recent-posts-entry">
              <h4 class="widget-title">Brokers</h4>
              <div class="section-content">
                <div class="wt-tabs tabs-default border">

                  <div id="web-design-1" class="tab-pane active ">
                    <div class="widget-post-bx">
                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic1.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Lorem ipsum dolor sit amet</h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 20comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic2.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Debitis nihil placeat, illum est </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 15 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="widget-post clearfix bg-gray">
                        <div class="wt-post-media">
                          <img src="{% static 'images/blog/recent-blog/pic3.jpg' %}" alt="" class="radius-bx">
                        </div>
                        <div class="wt-post-info">
                          <div class="wt-post-header">
                            <h6 class="post-title">Elit Assumenda vel amet </h6>
                          </div>
                          <div class="wt-post-meta">
                            <ul>
                              <li class="post-author">25 Dec</li>
                              <li class="post-comment"><i class="fa fa-comments"></i> 07 comment</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </aside>

        </div>
        <!-- SIDE BAR END -->

        <!-- RIGHT PART START -->
        <div class="col-md-9">


          <!-- BLOG START -->
          <div class="blog-post date-style-1 blog-detail">

            <div class="wt-post-title ">
              <h3 class="post-title"><a href="javascript:void(0);">About XM </a></h3>
            </div>

            <div class="wt-post-text">
              <p>
                XM Review; Touted as the next generation broker for online forex and commodity trading, XM is suitable for beginner and seasoned traders alike. Traders can get started with the trading software real account, or test the waters with a
                demo account platform with $100,000USD of virtual currency.</p>

              <p>Highlights of this particular broker service include auto trading, no hidden fees or commissions and fast order executions, with 99.35% taking place in under 1 second.</p>
              <h6>Company Details</h6>
              <p>XM Group (XM) is a group of regulated online brokers. Trading Point of Financial Instruments was established in 2009 and is regulated by the Cyprus Securities and Exchange Commission (CySec 120/10).</p>
              <p>Trading Point of Financial Instruments Pty Ltd was established in 2015 and is regulated by the Australian Securities and Investments Commission (ASIC 443670).</p>
              <p>XM Global was established in 2017 and is regulated by the International Financial Services Commission (000261/158).</p>
              <p>The platform boasts over 1.5 million clients with traders in 196 countries. The XM ethos is all about being big, fair and human. The company prides itself on things like excellent customer service and a personalized approach for
                every
                client, no matter their investment goals.</p>
              <h6>XM Trading Platform</h6>
              <p>XM offers 2 trading platforms which are accessible from both real and demo accounts. The multi-award winning MetaTrader 4 is predominantly a forex trading platform that supports stop, limit, market and trailing orders.
                The MetaTrader 5 platform is a multi-asset trading platform which also offers access to stocks, stock indices and precious metals. Both platforms are available on Apple and Android devices, which makes for a smooth and easy-to-use
                mobile trading experience.</p>
              <p>The trading area offers additional, optional tools, such as economic calendar or trade volume stats.</p>
              <h6>Assets / Markets</h6>
              <p>This broker has more than 1000 financial instruments which can be traded on the MT4/MT5 platforms and this includes Forex Trading, Stocks CFDs, Commodities CFDs, Equity Indices CFDs, Precious Metals CFDs and Energies CFDs.
                Forex trading is available on over 55 pairs, including the major USD, GBP, EUR and JPY pairs.<br />
                XM does not offer binary options or cryptocurrencies.</p>
              <h6>Spreads & Commission</h6>
              <p>Spreads vary depending on the kind of account opened. It’s possible to open a Micro Account, Standard Account and XM Zero Account. The minimum spread across all accounts is 0.1 pips, and the average spread for a major pair such as
                EUR/USD is 0.1 pips.</p>
              <p>XM operates a strict “no hidden fees or commission” policy. As such, commission is only given for XM Zero accounts. XM covers all transfer fees and same-day withdrawals are guaranteed.
                Leverage</p>
              <p>Depending on the instrument, the leverage can range from 2:1 to 30:1. This is completely flexible and XM offers its clients the chance to manage their own leverage risk. Margin requirements remain constant throughout the week and
                never
                widen at weekends or at night.</p>
              <p> leverage applies to clients registered under the EU regulated entity of the group.</p>
              <h6>XM Mobile Apps</h6>
              <p>XM is available on a number of Android and Apple devices, including Apple iPhone, Apple iPad and Android tablets and Android phones. Login is super-easy and can be done via fingerprint. You can download their apps from the Apple App
                Store or the Google Play Store.</p>
              <div class="text-center">
                <img src="{% static 'images/image-1.jpeg' %}" alt="" class="text-center">
              </div>

              <p>They are both fully functional and allow for monitoring and trading on-the-go. The desktop platforms for PC and Mac both support one-click trading.
                Payment Methods</p>
              <p>In line with conventional KYC regulations, users need to provide a colour copy of an official identification document such as a passport or a driver’s license. They also need to provide a recent utility bill dated within the last
                three
                months as proof of address.</p>
              <p>Once registered, the minimum deposit amount is $5 for Micro and Standard accounts, while Zero accounts require a minimum deposit of $100.</p>
              <p>Deposits can be made using most major credit cards, electronic payment methods, wire transfer, local bank transfer and more.</p>
              <p>Deposits can be made in any currency and it will be automatically converted into the currency you select as your base currency when opening the account.</p>
              <p>All withdrawals are processed in 24 hours and there are no fees to take your money out of your eWallet.</p>
              <h6>Demo Account</h6>
              <p>XM excels in its demo account offering. Users can set up a demo account with just a few details and then get trading with a virtual balance of $100,000USD. The XM demo account is unique in that it offers exactly the same trading
                conditions as the real thing.</p>
              <p>There are no time limits on how long you can use your demo account.</p>
              <h6>Bonus Deals And Promotions</h6>
              <p>XM also offers a free VPS (virtual private server) service to help increase the speed of trades. This VPS is accessible from anywhere and available 24/7. They claim to eliminate downtime and are available across the globe.
                More information regarding who can request the XM VPS can be found on the VPS page at XM.</p>
              <p>XM are also offering commission and fee free withdrawals and deposits.</p>
              <p>As an EU regulated brand, XM comply with the ESMA ban on bonuses, and the $30 deposit bonus is no longer available to EU traders.
                Regulation And Licensing</p>
              <p>As noted above, XM Group has a range of brands covered by different regulators.</p>
              <p>XM Group (XM) is a group of regulated online brokers. Trading Point of Financial Instruments was established in 2009 and is regulated by the Cyprus Securities and Exchange Commission (CySec 120/10).</p>
              <p>Trading Point of Financial Instruments Pty Ltd was established in 2015 and is regulated by the Australian Securities and Investments Commission (ASIC 443670).</p>
              <p>XM Global was established in 2017 and is regulated by the International Financial Services Commission (000261/158).</p>
              <h6> Additional Features</h6>
              <p>One of the biggest perks available on the XM platform is the wealth of training and educational materials available. The platform hosts regular webinars aimed at newcomers and seasoned professionals alike.
                The platform is inherently social, encouraging users to learn from their team of instructors. The company also published research and technical analysis.
              </p>
              <div class="text-center">
                <img src="{% static 'images/image-2.jpg' %}" alt="" class="text-center">
              </div>
              <br>
              <h6>XM Account Types</h6>
              <p>There are four levels of trading account, Micro, Standard and Zero. All accounts allow up to 200 open/pending positions per client.</p>
              <p>Micro Accounts: Micro accounts can use USD, EUR, GBP, CHF, AUD, JPY, HUF and PLN as the base currency and can get started with a minimum deposit of $5USD. 1 micro lot is 1,000 units of the base currency.</p>
              <p>Ultra Low Accounts: XM Ultra Low Accounts, can use EUR, USD, GBP, AUD, ZAR, SGD as the base currency and traders will require a minimum deposit of $50 USD. 1 Standard Ultra lot is 100,000 units of the chosen base currency, whereas, 1
                Micro Ultra lot is 1,000 units of the base currency. XM Ultra Low Accounts are not applicable to all entities of the group.</p>
              <p>Standard: Standard accounts can use USD, EUR, GBP, CHF, AUD, JPY, HUF and PLN as the base currency and traders can get started with just $5USD. 1 standard lot is 100,000 units of the chosen base currency.</p>
              <p>Zero Accounts: Zero accounts can use USD, JPY and EUR as the base currency and traders will require a minimum deposit of $10USD. Like the Standard account, 1 standard lot is 100,000 units of the chosen base currency.</p>
              <h6>Benefits</h6>
              <p>XM offers a full-service education package on forex, ideal for those making their first steps into trading.
                However, this isn’t at the expense of the more seasoned professional, who also have access to expert analysis and unparalleled tracking tools. As a company that prides itself on solid customer service, their users are well-served with
                support available in many different languages.</p>
              <h6>Drawbacks</h6>
              <p>
                While the support may be strong, some users dislike that customer support is only available Monday to Friday. Another disadvantage is the lack of diversity between the different account types makes for a less personalised feel.
                Other brokers offer more distinct offerings in their accounts, but the Micro, Standard and Zero accounts are almost identical. And finally, PayPal deposits are not currently supported, which can be problematic for some.
                Traders from certain regions are also forbidden to open an account due to licensing laws, these include Canada and the United States.
              </p>
              <h6>Trading Hours</h6>
              <p>In line with worldwide Forex market hours, XM is available 24 hours a day. For phone trading, the XM trading hours are Sunday 22:05 GMT through to Friday at 21:50 GMT.
                Contact Details / Customer Support
                The easiest way to contact XM is through their live chat feature found on the contact page of their website.
                You can also email support on: support@xm.com
                or call on ‎+357 25029933.</p>
              <h6>Safety And Security</h6>
              <p>There are no obvious security concerns with the website. Users are required to confirm their email address in order to open a demo account but signing up for email updates is not a requirement. In order to open a trading account,
                identification documents are required.
                According to the company privacy policy, XM has organisational procedures in place to ensure that personal data is kept secure.</p>
              <h6>Overall Verdict</h6>
              <p>XM offers a comprehensive broker service to traders of all levels. Whether you are just starting out and learning the ropes, or if you’re a seasoned trader looking for a reliable and efficient platform, XM is a solid choice.<br>
                Despite the shortcomings with the different account options, the platform is easy to use and simple to navigate.</p>
              <h6>Accepted Countries</h6>
              <p>XM accepts traders from Australia, Thailand, United Kingdom, South Africa, Singapore, Hong Kong, India, France, Germany, Norway, Sweden, Italy, Denmark, United Arab Emirates, Saudi Arabia, Kuwait, Luxembourg, Qatar and most other</p>
              <h6>countries.</h6>
              <p>Traders can not use XM from United States, Canada, Israel, Iran, Argentina.</p>

            </div>

          </div>

        </div>
        <!-- RIGHT PART END -->

      </div>
    </div>
  </div>
  <!-- SECTION CONTENT END -->

</div>
<!-- CONTENT END -->

{% endblock %}
