{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<!-- CONTENT START -->
<div class="page-content">

  <!-- INNER PAGE BANNER -->
  <div class="wt-bnr-inr overlay-wraper" style="background-image:url({% static 'images/banner/blog-banner.jpg' %});">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="wt-bnr-inr-entry">
        <h1 class="text-white">Forex Tutorial Videos</h1>
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- BREADCRUMB ROW -->
  <div class="bg-gray-light p-tb20">
    <div class="container">
      <ul class="wt-breadcrumb breadcrumb-style-2">
        <li><a href="{% url 'main:home_page' %}"><i class="fa fa-home"></i> Home</a></li>
        <li>Tutorial videos</li>
      </ul>
    </div>
  </div>
  <!-- BREADCRUMB  ROW END -->

  <!-- GRID SECTION START -->
  <div class="section-full p-t80 p-b50">
    <div class="container">
      <div class="row">

        <!-- BLOG GRID START -->
        <div class="portfolio-wrap wt-blog-grid-2">

          <!-- VIDEO COLUMNS .START -->
          <div class="post masonry-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="blog-post blog-grid date-style-1">

              <div class="wt-post-media wt-img-effect zoom-slow">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/de9Mhw2dU60"></iframe>
              </div>

              <div class="wt-post-info p-tb30 p-m30">

                <div class="wt-post-title ">
                  <h3 class="post-title"><a href="javascript:void(0);">Tutorial video title will be in here</a></h3>
                </div>

                <div class="wt-post-meta ">
                  <ul>
                    <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2017</span> </li>
                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Kagoma</span></a> </li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
          <!-- VIDEO COLUMNS .END -->

          <!-- VIDEO COLUMNS .START -->
          <div class="post masonry-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="blog-post blog-grid date-style-1">

              <div class="wt-post-media wt-img-effect zoom-slow">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/de9Mhw2dU60"></iframe>
              </div>

              <div class="wt-post-info p-tb30 p-m30">

                <div class="wt-post-title ">
                  <h3 class="post-title"><a href="javascript:void(0);">Tutorial video title will be in here</a></h3>
                </div>

                <div class="wt-post-meta ">
                  <ul>
                    <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2017</span> </li>
                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Kagoma</span></a> </li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
          <!-- VIDEO COLUMNS .END -->

        </div>
        <!-- BLOG GRID END -->

        <!-- PAGINATION START -->
        <div class="pagination-bx col-lg-12 clearfix ">
          <ul class="custom-pagination pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
        <!-- PAGINATION END -->

      </div>
    </div>
  </div>
  <!-- GRID SECTION END -->

</div>
<!-- CONTENT END -->

{% endblock %}
